<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arte Script</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">Arte Script</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/static/feedback.html">Feedback</a>
        </div>
    </nav>
    <div class="content">
        <h1>Welcome to Arte Script</h1>
        <p>Press <a href="https://github.com/JustARocketGame/ArteScript/releases/download/v1.0.1/ArteScriptSetup.exe" target="_blank" class="download-link">here</a> to download Arte Script</p>
        <p>Or press <a href="vscode:extension/Artem057YT.arte-script" target="_blank" class="download-link">here</a> to download Arte Script Extension for VS Code</p>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>